@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root{
    /* Primary */
    --ModerateViolet:hsl(263, 55%, 52%);
    --Very-dark-grayish-blue:hsl(217, 19%, 35%);
    --Very-dark-blackish-blue:hsl(219, 29%, 14%);
    --White:hsl(0, 0%, 100%);

    /* Neutral */
    --Light-gray:hsl(0, 0%, 81%);
    --Light-grayish-blue:hsl(210, 46%, 95%); 
}
html{
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.main{
    display: grid;
    row-gap: 2rem;
    margin: 1rem;
}
.main figure{
    margin: 0;
    height: fit-content;
}
.main .main__section{
    border-radius: 1rem;
}

.main__section{
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.main__section1{
    background-color: var(--ModerateViolet);
}
.main__section .main__article1{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.main__section .main__article1 figure img{
    border-radius: 50%;
    opacity: 1;
    border: 3px solid hsl(263, 88%, 73%)
}
.main__section .main__article .text{
    height: fit-content;
}
.main__section .main__article .text p, .main__section .main__article .text h4 {
    margin: 2px;
}
.main__section .main__article .text h4{
    font-size: 1.3rem;
    color: var(--White);
}
.main__section .main__article .text p{
    color: var(--White);
    opacity: .5;
}

/* STYLING SECTION1 */
.main__section1 .main__article2 h2{
    color: var(--White);
    font-size: 1.8rem;
}
.main__section1 .main__article3 p{
    color: var(--White);
    opacity: .7;
    line-height: 1.5rem;
}
/* END OF STYLING SECTION1 */

/* STYLING SECTION2 */
.main__section2{
    background-color: var(--Very-dark-grayish-blue);
}
.main__section2 .main__article1 figure img{
    border: 3px solid var(--Light-gray);
}
.main__section2 .main__article2 h2{
    color: var(--White);
    font-size: 1.8rem;
}
.main__section2 .main__article3 p{
    color: var(--White);
    opacity: .7;
    line-height: 1.5rem;
}
/* END OF STYLING SECTION3*/

/* STYLING SECTION3 */
.main__section3 .main__article1 .text h4, .main__section3 .main__article1 .text p{
    color: var(--Very-dark-grayish-blue);
}
.main__section3{
    background-color: var(--Light-grayish-blue);
}
.main__section3 .main__article1 figure img{
    border: 3px solid var(--Light-gray);
}
.main__section3 .main__article2 h2{
    color: var(--Very-dark-grayish-blue);
    font-size: 1.8rem;
}
.main__section3 .main__article3 p{
    color: var(--Very-dark-grayish-blue);
    opacity: .7;
    line-height: 1.5rem;
}
/* END OF STYLING SECTION3 */

/* STYLING SECTION4 */
.main__section4 .main__article1 .text h4, .main__section3 .main__article1 .text p{
    color: var(--White);
}
.main__section4{
    background-color: var(--Very-dark-blackish-blue);
}
.main__section4 .main__article1 figure img{
    border: 3px solid var(--ModerateViolet);
}
.main__section4 .main__article2 h2{
    color: var(--White);
    font-size: 1.8rem;
}
.main__section4 .main__article3 p{
    color: var(--White);
    opacity: .7;
    line-height: 1.5rem;
}
/* END OF STYLING SECTION4 */

/* STYLING SECTION5 */
.main__section5 .main__article1 .text h4, .main__section3 .main__article1 .text p{
    color: var(--Very-dark-grayish-blue);
}
.main__section5{
    background-color: var(--Light-grayish-blue);
}
.main__section5 .main__article1 figure img{
    border: 3px solid var(--Light-gray);
}
.main__section5 .main__article2 h2{
    color: var(--Very-dark-grayish-blue);
    font-size: 1.8rem;
}
.main__section5 .main__article3 p{
    color: var(--Very-dark-grayish-blue);
    opacity: .7;
    line-height: 1.5rem;
}
/* END OF STYLING SECTION5 */